        * {
            margin: 0;
            padding: 0;
        }
        
        li {
            list-style: none;
        }
        
        a {
            text-decoration: none;
        }
        
        body {
            background-color: #f3f5f7;
        }
        
        .clearfix :before,
        .clearfix:after {
            content: '';
            display: table;
        }
        
        .clearfix::after {
            clear: both;
        }
        
        .clearfix {
            *zoom: 1;
        }
        
        .w {
            width: 1200px;
            margin: auto;
        }
        /* 头部开始 */
        
        .header {
            height: 42px;
            margin: 30px auto;
        }
        
        .logo {
            float: left;
            width: 200px;
            height: 42px;
        }
        
        .nav {
            /* nav导航栏不用给定宽度，为了将来可以继续添加文字 */
            float: left;
            margin-left: 69px;
        }
        
        .nav li {
            /* 给li加浮动，因为li是块级元素。而a行内元素。为了让他们在一行内，必须要给li加浮动 */
            float: left;
            margin-left: 15px;
        }
        
        .nav ul li a {
            /* 因为a是行内元素，给的高度没有用。行内元素的高度是根据其内容大小决定的。因此此时要转化成块级元素 */
            display: block;
            height: 42px;
            /* 每个链接盒子的大小不一样，此时用padding根据其里面的文字大小进行撑开 */
            padding: 0 10px;
            line-height: 42px;
            font-size: 18px;
            color: #050505;
        }
        
        .nav ul li a:hover {
            border-bottom: 2px solid #00a4ff;
            color: #00a4ff;
        }
        
        .search {
            float: left;
            width: 411px;
            height: 42px;
            background-color: skyblue;
            margin-left: 70px;
        }
        
        .search input {
            float: left;
            height: 40px;
            width: 345px;
            border: 1px solid #00a4ff;
            border-right: 0;
            font-size: 14px;
            color: #bfbfbf;
            padding-left: 15px;
        }
        /* input和button为行内元素，行内元素中间默认有间隔。因此仄给input和button上面加上浮动。使他们的间隙消失 */
        
        .search button {
            float: left;
            width: 49px;
            height: 42px;
            /* 按钮button默认有个边框需要我们手动去掉 */
            border: 0px;
            background-color: blue;
            background-image: url(img/btn.png);
        }
        
        .user {
            float: right;
            margin-right: 30px;
        }
        /* banner开始 */
        
        .banner {
            background-color: #1c036c;
            height: 421px;
        }
        
        .banner .w {
            height: 421px;
            background: url(img/banner2.png) no-repeat top center;
        }
        
        .subnav {
            float: left;
            width: 190px;
            height: 421px;
            background: rgba(0, 0, 0, .3);
        }
        
        .subnav ul li {
            /* li为块级元素，可设定高度。而a为行内元素，不可以设置高度 */
            height: 45px;
            line-height: 45px;
            padding: 0 20px;
        }
        
        .subnav ul li a {
            font-size: 14px;
            color: #fff
        }
        
        .subnav ul li a span {
            float: right;
        }
        
        .subnav ul li a:hover {
            color: #00a4ff;
        }
        
        .course {
            float: right;
            float: right;
            width: 230px;
            height: 300px;
            background-color: #fff;
            /* 本来父盒子中的子盒子设定margin值，会产生塌陷问题。但是浮动的盒子不会有外边距合并的问题 */
            margin-top: 50px;
        }
        
        .course h2 {
            width: 230px;
            height: 55px;
            background-color: #9bceea;
            line-height: 55px;
            font-size: 18px;
            text-align: center;
            color: #fff;
        }
        
        .bd {
            padding: 0 20px;
        }
        
        .bd ul li {
            padding: 12px 0;
            border-bottom: 1px solid #ccc;
        }
        
        .bd ul li h4 {
            font-size: 16px;
            color: #4e4e4e;
        }
        
        .bd ul li p {
            font-size: 12px;
            color: #a5a5a5;
        }
        
        .bd .more {
            display: block;
            height: 38px;
            border: 1px solid #00a4ff;
            margin-top: 5px;
            line-height: 38px;
            text-align: center;
            font-size: 18px;
            color: #00a4ff;
        }
        /* goods开始 */
        
        .goods {
            height: 60px;
            margin-top: 10px;
            box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
            /* 行高会继承给三个孩子 */
            line-height: 60px;
        }
        
        .goods h3 {
            float: left;
            margin-left: 30px;
            font-size: 16px;
            color: #00a4ff;
        }
        
        .goods ul {
            float: left;
        }
        
        .goods ul li {
            float: left;
        }
        
        .goods ul li a {
            /* padding放在a中是为了增大点效果 */
            padding-left: 35px;
            font-size: 16px;
            color: #050505;
            border-left: 1px solid #ccc;
            margin-left: 30px;
        }
        
        .mod {
            float: right;
            margin-right: 30px;
            font-size: 14px;
            color: #00a4ff;
        }
        /* box开始 */
        
        .box {
            height: 600px;
            margin-top: 38px;
        }
        
        .box-hd {
            height: 42px;
        }
        
        .box-hd h4 {
            float: left;
            font-size: 20px;
            font-weight: 400;
            color: #494949;
        }
        
        .box-hd a {
            display: block;
            float: right;
            margin: 10px 30px 0 0;
            font-size: 12px;
            color: #a5a5a5;
            text-align: center;
        }
        
        .box-bd ul {
            width: 1225px;
        }
        /* 把li的父亲修改的足够宽 一行能装开5个盒子就不会换行了 */
        
        .box-bd ul li {
            /* 子绝父相 */
            position: relative;
            float: left;
            width: 228px;
            height: 270px;
            margin-right: 15px;
            margin-bottom: 15px;
        }
        
        .box-bd ul li>img {
            width: 100%;
        }
        
        .box-bd ul li em {
            position: absolute;
            top: 3px;
            right: -4px;
        }
        
        .box-bd ul li h3 {
            margin: 25px 20px 25px;
            font-size: 14px;
            font-weight: 400;
            color: #050505;
        }
        
        .box-bd .info {
            margin: 25px 20px 25px;
            font-size: 12px;
            color: #999;
        }
        
        .box-bd span {
            color: #ff7c2d;
        }
        /* footer开始 */
        
        .footer {
            height: 415px;
            background-color: #fff;
        }
        
        .copyright {
            float: left;
        }
        
        .copyright img {
            margin-top: 15px;
            width: 210px;
            height: 45px;
        }
        
        .copyright p {
            margin-top: 25px;
            font-size: 12px;
            color: #666;
        }
        
        .copyright a {
            display: block;
            margin-top: 15px;
            width: 120px;
            height: 35px;
            border: 1px solid #00a4ff;
            line-height: 35px;
            text-align: center;
            font-size: 16px;
            color: #00a4ff;
        }
        
        .link {
            float: right;
        }
        
        .link dl {
            float: left;
            margin-left: 100px;
        }
        
        .link dt {
            padding-bottom: 15px;
            font-size: 16px;
            font-weight: 500;
            color: #333;
        }
        
        .link dd {
            font-size: 12px;
            color: #333;
            line-height: 18px;
        }